{% extends 'base.html' %} 
{% block content %}

	{% if user.is_authenticated %}

	<h1>Records</h1>
	<br/>

	<table class="table table-dark table-striped table-hover table-bordered">
		<thead class= "table-light">
			<tr>
				<th scope="col">ID #</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Email</th>
				<th scope="col">Phone</th>
				<th scope="col">Address</th>
				<th scope="col">City</th>
				<th scope="col">Postcode</th>
				<th scope="col">Created At</th>
			</tr>
		</thead>
		<tbody>
			{% if records %} 
				{% for record in records%}
					<tr> 
						<td>{{ record.id}}</td>
						<td>{{ record.first_name }} </td>
						<td>{{ record.last_name }} </td>
						<td>{{ record.email }} </td>
						<td>{{ record.phone }} </td>
						<td>{{ record.address }}</td>
						<td>{{ record.city }} </td>
						<td>{{ record.postcode }} </td>
						<td>{{ record.created_at }} </td>
					</tr>
				{% endfor %} 
   	 		{% endif %} 
		</tbody>
	</table>
    
    {% else %}

	<h1>Login</h1>
	<br />
	<form method="POST" action="{% url 'home' %}">
		{% csrf_token %}
		<form>
			<div class="mb-3">
				<input
					type="text"
					class="form-control"
					name="username"
					placeholder="Username"
					required
				/>
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label"></label>
				<input
					type="password"
					class="form-control"
					name="password"
					placeholder="Password"
					required
				/>
			</div>
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="exampleCheck1" />
				<label class="form-check-label" for="exampleCheck1">
					Keep me signed in
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</form>


	{% endif %} 


{% endblock %}
